body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 6.5vw;
}

h2 {
    font-size: 0.55em;
    text-align: center;
    white-space: nowrap;
    margin: inherit;
}

h3 {
    font-size: 0.35em;
    text-align: center;
    white-space: nowrap;
    margin: 10px;
}

.container {
    width: 95%;
    margin: auto;
    padding-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid white;
    padding: 25px;
    text-align: left;
}

th {
    background-color: grey;
}

th:first-child, td:first-child {
    width: 50%;  /* Adjust this as needed */
    white-space: nowrap; /* Prevents text from breaking into a new line */
    min-width: 120px;  /* Ensures enough space for "Vocal X" */
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

label {
    display: block;  /* Makes each label take its own line */
    font-size: 22px; /* Adjust the text size */
    font-weight: normal; /* Optional: Make the labels bold */
    margin-bottom: 10px; /* Adds spacing between label and input */
}

button, .edit-btn {
    background-color: black;
    color: black;
    padding: 1px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Pushes the button to the right */
    margin: 10px;
}

button {
    background-color: grey;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, .edit-btn:hover {
    color: whitesmoke;
}

.container-edit-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-right: 20px; /* Add 20px right padding */
}

.button-container-edit-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    flex: 1;
    margin-right: 10px;
}

.form-input {
    flex: 2;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.button-container-edit-page {
    text-align: center;
    margin-top: 20px;
}

.table-container {
    display: flex;
    justify-content: space-between;
}

.table-wrapper {
    flex: 1;
    margin: 0 10px;
}

.band-table {
    flex: 0 0 35%; /* 35% width */
}

.setlist-table {
    flex: 0 0 65%; /* 65% width */
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th, .table-wrapper td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table-wrapper th {
    background-color: #f2f2f2;
    text-align: left;
}

.band-table table, .setlist-table table {
    font-size: 0.35em;
}

.setlist-table td:nth-child(2) {
    width: 20%; 
    white-space: nowrap; 
}

.form-group-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group-pair .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group-pair .form-group:last-child {
    margin-right: 0;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    flex: 1;
    margin-right: 10px;
}

.form-input {
    flex: 2;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.button-container-edit-page {
    text-align: center;
    margin-top: 20px;
}