body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 7.5vw;
}

.container {
    width: 95%;
    margin: auto;
    padding-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid white;
    padding: 25px;
    text-align: left;
}

th {
    background-color: grey;
}

th:first-child, td:first-child {
    width: 50%;  /* Adjust this as needed */
    white-space: nowrap; /* Prevents text from breaking into a new line */
    min-width: 120px;  /* Ensures enough space for "Vocal X" */
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

label {
    display: block;  /* Makes each label take its own line */
    font-size: 22px; /* Adjust the text size */
    font-weight: normal; /* Optional: Make the labels bold */
    margin-bottom: 10px; /* Adds spacing between label and input */
}

button, .edit-btn {
    background-color: black;
    color: black;
    padding: 1px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Pushes the button to the right */
    margin: 10px;
}


button:hover, .edit-btn:hover {
    color: whitesmoke;
}
